In [1]:
import env as e
import wrangle as w
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import os

# Wrangle (Acquire & Prepare Zillow Data)

In [5]:
train, validate, test=w.wrangle_function()
train.head()

         bedrooms  bathrooms    sqft  appraisal  year built     taxes  county
778024          3        2.0  1786.0   118729.0        1975   1951.51      LA
1646075         5        4.0  5196.0  1882000.0        1991  20657.16  Orange
1905298         5        5.0  3821.0   730570.0        2007   8962.66      LA
620197          3        2.0  1192.0   289462.0        1950   3794.69      LA
393229          3        2.0  1405.0   205785.0        1928   2635.78      LA

# Explore Data